# Ignorar PDFs pesados e dados temporarios da pipeline
data/raw/*
data/interim/*
data/features/*
data/processed/*

# Ignorar o back-end do grafo mas PERMITIR a UI e as imagens
data/graphs/*.gml
data/graphs/*.json

# Permissões manuais (Imagens e HTML renderizado)
!data/graphs/png/
!data/graphs/png/*
!data/graphs/visualizacao_novo.html

# Arquivos de estrutura para as pastas não morrerem
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/features/.gitkeep
!data/processed/.gitkeep
!data/graphs/.gitkeep

venv/
.venv/
__pycache__/
*.pyc
.env